<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="vendors/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/grid.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="resources/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400&display=swap" rel="stylesheet">
        <title>Dentist Pro</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="row">
                    <img src="resources/img/logo-white.png" alt="Dentist Pro logo" class="logo">
                    <ul class="main-nav">
                        <li><a href="#">Fatures</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Our clients</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </nav>
            <div class="hero-text-box">
                <h1>The #1 management tool<br> for dentistries</h1>
                <a class="btn btn-full" href="#">Try it now</a>
                <a class="btn btn-ghost" href="#">Show me more</a>
            </div>
        </header>
        
        <section class="section-features">
            <div class="row">
                <h2>Alternative way to control all processes</h2>
                <p class="long-copy">
                    Dentist Pro System is built for every member of your clinic team to plan, track, and treat much easier.</p>
            </div>
            
            <div class="row features-big">
                <div class="col span-1-of-2 features-big-text">
                    <h3>Feature 1</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque egestas tempor tincidunt. Donec sit amet vehicula mauris. Quisque porttitor justo vel sem efficitur, sit amet condimentum massa accumsan. Suspendisse ullamcorper tempus velit, non volutpat purus euismod in. In mollis ultricies ligula vel ultrices. Cras at risus ligula. Donec diam nulla, tincidunt non mauris vel, sodales eleifend felis.
                    </p>
                </div>    
                <div class="col span-1-of-2 features-big-img">
                    <img src="resources/img/feature-big1.svg">
                </div>    
            </div>
            <div class="row features-big">
                <div class="col span-1-of-2 features-big-img">
                    <img src="resources/img/feature-big1.svg">
                </div>    
                <div class="col span-1-of-2 features-big-text">
                    <h3>Feature 2</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque egestas tempor tincidunt. Donec sit amet vehicula mauris. Quisque porttitor justo vel sem efficitur, sit amet condimentum massa accumsan. Suspendisse ullamcorper tempus velit, non volutpat purus euismod in. In mollis ultricies ligula vel ultrices. Cras at risus ligula. Donec diam nulla, tincidunt non mauris vel, sodales eleifend felis.
                    </p>
                </div>    
            </div>
            <div class="row feature-big-wide">
                <img src="resources/img/feature-big-2.jpg">
            </div>
            <div class="row">
                <p class="long-copy">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque egestas tempor tincidunt. Donec sit amet vehicula mauris. Quisque porttitor justo vel sem efficitur, sit amet condimentum massa accumsan. Suspendisse ullamcorper tempus velit, non volutpat purus euismod in. In mollis ultricies ligula vel ultrices. Cras at risus ligula. Donec diam nulla, tincidunt non mauris vel, sodales eleifend felis.
                </p>
            </div>
        </section>
        
        <section class="section-features-small">
            <div class="row">
                <h2>Configure Dentist Pro</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-3 feature-small">
                    <img src="resources/img/feature-small-1.png">
                    <h3>The Team Playbook</h3>
                    <p>It’s easy to get your team up and running with Trello. We’ve collected all of the boards and tools you need to succeed in one handy resource.</p>
                    <a href="#" class="btn btn-full">Make a game plan</a>
                </div>
                <div class="col span-1-of-3 feature-small">
                    <img src="resources/img/feature-small-1.png">
                    <h3>The Team Playbook</h3>
                    <p>It’s easy to get your team up and running with Trello. We’ve collected all of the boards and tools you need to succeed in one handy resource.</p>
                    <a href="#" class="btn btn-full">Make a game plan</a>
                </div>
                <div class="col span-1-of-3 feature-small">
                    <img src="resources/img/feature-small-1.png">
                    <h3>The Team Playbook</h3>
                    <p>It’s easy to get your team up and running with Trello. We’ve collected all of the boards and tools you need to succeed in one handy resource.</p>
                    <a href="#" class="app-logo"><img src="resources/img/btn-appstore.png"></a>
                    <a href="#" class="app-logo"><img src="resources/img/btn-playstore.png"></a>
                </div>
            </div>
        </section>
        
        
        <section class="section-testimonials">
            <div class="row">
                <h2>Our customers can't live without us</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <blockquote>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque egestas tempor tincidunt. Donec sit amet vehicula mauris. Quisque porttitor justo vel sem efficitur, sit amet condimentum massa accumsan.
                        <cite>
                            <img src="resources/img/customer-1.jpg">
                            Alberto Duncan
                        </cite>
                    </blockquote>
                </div>
                <div class="col span-1-of-3">
                    <blockquote>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque egestas tempor tincidunt. Donec sit amet vehicula mauris. Quisque porttitor justo vel sem efficitur, sit amet condimentum massa accumsan.                        
                        <cite>
                            <img src="resources/img/customer-2.jpg">
                            Joana Silva
                        </cite>
                    </blockquote>
                </div>
                <div class="col span-1-of-3">
                    <blockquote>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque egestas tempor tincidunt. Donec sit amet vehicula mauris. Quisque porttitor justo vel sem efficitur, sit amet condimentum massa accumsan.
                        <cite>
                            <img src="resources/img/customer-3.jpg">
                            Milton Chapman
                        </cite>
                    </blockquote>
                </div>
            </div>
        </section>
        
        <section class="section-plans">
            <div class="row">
                <h2>Start managing smart today</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <div class="plan-box">
                        <div>
                            <h3>Premium</h3>
                            <p class="plan-price">$399 <span>/ month</span></p>
                            <p class="plan-price-user">The most profittable pack</p>
                        </div>
                        <div>
                            <ul>
                                <li><i class="ion-ios-checkmark-empty icon-small"></i>Unlimited quantity users</li>
                                <li><i class="ion-ios-checkmark-empty icon-small"></i>Lorem ipsum</li>
                                <li><i class="ion-ios-checkmark-empty icon-small"></i>Lorem ipsum</li>
                                <li><i class="ion-ios-checkmark-empty icon-small"></i>Lorem ipsum</li>
                            </ul>
                        </div>
                        <div>
                            <a href="#" class="btn btn-full">Sign up now</a>
                        </div>
                    </div>
                </div>
                <div class="col span-1-of-3">
                    <div class="plan-box">
                        <div>
                            <h3>Pro</h3>
                            <p class="plan-price">$149 <span>/ month</span></p>
                            <p class="plan-price-user">That’s only 7.45$ per user</p>
                        </div>
                        <div>
                            <ul>
                                <li><i class="ion-ios-checkmark-empty icon-small"></i>Up to 20 users</li>
                                <li><i class="ion-ios-checkmark-empty icon-small"></i>Lorem ipsum</li>
                                <li><i class="ion-ios-checkmark-empty icon-small"></i>Lorem ipsum</li>
                                <li><i class="ion-ios-checkmark-empty icon-small"></i>Lorem ipsum</li>
                            </ul>
                        </div>
                        <div>
                            <a href="#" class="btn btn-ghost">Sign up now</a>
                        </div>
                    </div>
                </div>
                <div class="col span-1-of-3">
                    <div class="plan-box">
                        <div>
                            <h3>Starter</h3>
                            <p class="plan-price">Free</p>
                            <p class="plan-price-user">&nbsp;</p>
                        </div>
                        <div>
                            <ul>
                                <li><i class="ion-ios-checkmark-empty icon-small"></i>Up to 5 users</li>
                                <li><i class="ion-ios-checkmark-empty icon-small"></i>Lorem ipsum</li>
                                <li><i class="ion-ios-close-empty icon-small"></i></li>
                                <li><i class="ion-ios-checkmark-empty icon-small"></i>Lorem ipsum</li>
                            </ul>
                        </div>
                        <div>
                            <a href="#" class="btn btn-ghost">Sign up now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section-clients">
            <h2>Our clients</h2>
            <ul class="clients-showcase clearfix">
                <li>
                    <figure class="clients-photo">
                        <img src="resources/img/clients1.png" alt="Client 1">
                    </figure>
                </li>
                <li>
                    <figure class="clients-photo">
                        <img src="resources/img/clients2.jpg" alt="Client 2">
                    </figure>
                </li>
                <li>
                    <figure class="clients-photo">
                        <img src="resources/img/clients3.jpg" alt="Client 3">
                    </figure>
                </li>
                <li>
                    <figure class="clients-photo">
                        <img src="resources/img/clients4.jpg" alt="Client 4">
                    </figure>
                </li>
            </ul>
            <ul class="clients-showcase clearfix">
                <li>
                    <figure class="clients-photo">
                        <img src="resources/img/clients5.jpg" alt="Client 5">
                    </figure>
                </li>
                <li>
                    <figure class="clients-photo">
                        <img src="resources/img/clients6.jpg" alt="Client 6">
                    </figure>
                </li>
                <li>
                    <figure class="clients-photo">
                        <img src="resources/img/clients7.png" alt="Client 7">
                    </figure>
                </li>
                <li>
                    <figure class="clients-photo">
                        <img src="resources/img/clients8.jpg" alt="Client 8">
                    </figure>
                </li>
            </ul>
        </section>
        
        
        <section class="section-form">
            <div class="row">
                <h2>We're happy to hear from you</h2>
            </div>
            <div class="row">
                <form method="post" action="#" class="contact-form">
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="name">Name</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="text" name="name" id="name" placeholder="Your name" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="email">Email</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="email" name="email" id="email" placeholder="Your email" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="find-us">How did you find us?</label>
                        </div>
                        <div class="col span-2-of-3">
                            <select name="find-us" id="find-us">
                                <option value="friends">Friends</option>
                                <option value="search" selected>Search engine</option>
                                <option value="ad">Advertisment</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label>Newsletter</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="checkbox" name="news" id="news" checked> Yes, please
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label>Drop us a line</label>
                        </div>
                        <div class="col span-2-of-3">
                            <textarea name="message" placeholder="Your message"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label>&nbsp;</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="submit" value="Send it!">
                        </div>
                    </div>
                    
                </form>
            </div>
        </section>
        
        <footer>
            <div class="row">
                <div class="col span-1-of-2">
                    <ul class="footer-nav">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">IOS App</a></li>
                        <li><a href="#">Android App</a></li>
                    </ul>
                </div>
                <div class="col span-1-of-2">
                    <ul class="social-icons">
                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                        <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <p>Copyright &copy; 2020 by Dentist Pro. All rights reserved</p>
            </div>
            
        </footer>
    </body>
</html>
